In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("ds-4 Rotten Tomatoes Movies.csv", encoding='latin1', on_bad_lines='skip').copy()

In [3]:
df.head()

,movie_title,movie_info,critics_consensus,rating,genre,directors,writers,cast,in_theaters_date,on_streaming_date,runtime_in_minutes,studio_name,tomatometer_status,tomatometer_rating,tomatometer_count,audience_rating,audience_count
0,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,2010-06-29,83,20th Century Fox,Rotten,49,144,53,254287.0
1,Please Give,Kate has a lot on her mind. There's the ethics...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,2010-10-19,90,Sony Pictures Classics,Certified Fresh,86,140,64,11567.0
2,10,Blake Edwards' 10 stars Dudley Moore as George...,NaN,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,1997-08-27,118,Waner Bros.,Fresh,68,22,53,14670.0
3,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,2001-03-06,95,Criterion Collection,Certified Fresh,100,51,97,105000.0
4,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,2003-05-20,127,Disney,Fresh,89,27,74,68860.0

In [4]:
# Method 3: Using list comprehension
missing_values_method3 = {col: df[col].isnull().sum() for col in df.columns}
print(missing_values_method3)

{'movie_title': 0, 'movie_info': 25, 'critics_consensus': 8307, 'rating': 3, 'genre': 21, 'directors': 118, 'writers': 1348, 'cast': 289, 'in_theaters_date': 819, 'on_streaming_date': 8, 'runtime_in_minutes': 161, 'studio_name': 422, 'tomatometer_status': 7, 'tomatometer_rating': 7, 'tomatometer_count': 8, 'audience_rating': 261, 'audience_count': 267}

In [5]:
df = df.drop('movie_info', axis=1)

In [6]:
# Method 3: Using list comprehension
missing_values_method3 = {col: df[col].isnull().sum() for col in df.columns}
print(missing_values_method3)

{'movie_title': 0, 'critics_consensus': 8307, 'rating': 3, 'genre': 21, 'directors': 118, 'writers': 1348, 'cast': 289, 'in_theaters_date': 819, 'on_streaming_date': 8, 'runtime_in_minutes': 161, 'studio_name': 422, 'tomatometer_status': 7, 'tomatometer_rating': 7, 'tomatometer_count': 8, 'audience_rating': 261, 'audience_count': 267}

In [7]:
df.rating.value_counts()

rating
R                                                                                             6121
NR                                                                                            4848
PG-13                                                                                         2879
PG                                                                                            2057
G                                                                                              648
NC17                                                                                            37
PG-13)                                                                                           3
PG-13<Cnmedy                                                                                     1
One mf`vhe best unemrdoå`romance mkvies e6er, with %n ending thad wiln`light up any!heArt.       1
 Neckar volunteeRs for aa3uikide mission."                                                       1
87                                                                                               1
R<Drama<Mk+e Nichols                                                                             1
 Dramã"                                                                                          1
 spejds her time at the gym                                                                      1
R)                                                                                               1
Name: count, dtype: int64

In [8]:
# Replace 'PG' with 'PG-13' in the 'Rating' column
df['rating'] = df['rating'].replace('PG', 'PG-13')
df['rating'] = df['rating'].replace('R)', 'R')
df['rating'] = df['rating'].replace('PG-13<Cnmedy', 'PG-13')
df['rating'] = df['rating'].replace('One mf`vhe best unemrdoå`romance mkvies e6er, with %n ending thad wiln`light up any!heArt.       1 Neckar volunteeRs for aa3uikide mission. ', ' ')
df['rating'] = df['rating'].replace('87', ' ')
df['rating'] = df['rating'].replace('R<Drama<Mk+e Nichols', 'R')

In [9]:
df.rating.value_counts()

rating
R                                                                                             6123
PG-13                                                                                         4937
NR                                                                                            4848
G                                                                                              648
NC17                                                                                            37
PG-13)                                                                                           3
One mf`vhe best unemrdoå`romance mkvies e6er, with %n ending thad wiln`light up any!heArt.       1
 Neckar volunteeRs for aa3uikide mission."                                                       1
                                                                                                 1
 Dramã"                                                                                          1
 spejds her time at the gym                                                                      1
Name: count, dtype: int64

In [10]:
df['rating'] = df['rating'].replace('PG-13)', 'PG-13')
df['rating'] = df['rating'].replace('One mf`vhe best unemrdoå`romance mkvies e6er, with %n ending thad wiln`light up any!heArt.       1 Neckar volunteeRs for aa3uikide mission."  ', ' ')
df['rating'] = df['rating'].replace('Dramã" ', ' ')
df['rating'] = df['rating'].replace(' spejds her time at the gym                                                                      1 ', ' ')

In [11]:
df.rating.value_counts()

rating
R                                                                                             6123
PG-13                                                                                         4940
NR                                                                                            4848
G                                                                                              648
NC17                                                                                            37
One mf`vhe best unemrdoå`romance mkvies e6er, with %n ending thad wiln`light up any!heArt.       1
 Neckar volunteeRs for aa3uikide mission."                                                       1
                                                                                                 1
 Dramã"                                                                                          1
 spejds her time at the gym                                                                      1
Name: count, dtype: int64

In [12]:
df['rating'] = df['rating'].replace('^One mf`vhe best unemrdoå`romance mkvies e6er, with %n ending thad wiln`light up any!heArt.       1 Neckar volunteeRs for aa3uikide mission."  ', ' ')

In [13]:
df.rating.value_counts()

rating
R                                                                                             6123
PG-13                                                                                         4940
NR                                                                                            4848
G                                                                                              648
NC17                                                                                            37
One mf`vhe best unemrdoå`romance mkvies e6er, with %n ending thad wiln`light up any!heArt.       1
 Neckar volunteeRs for aa3uikide mission."                                                       1
                                                                                                 1
 Dramã"                                                                                          1
 spejds her time at the gym                                                                      1
Name: count, dtype: int64

In [14]:
df['rating'] = df['rating'].apply(lambda x: '' if isinstance(x, str) and x.startswith(' ') else x)

In [15]:
df.rating.value_counts()

rating
R                                                                                             6123
PG-13                                                                                         4940
NR                                                                                            4848
G                                                                                              648
NC17                                                                                            37
                                                                                                 4
One mf`vhe best unemrdoå`romance mkvies e6er, with %n ending thad wiln`light up any!heArt.       1
Name: count, dtype: int64

In [16]:
df['rating'] = df['rating'].apply(lambda x: ' ' if isinstance(x, str) and x.startswith('np.nan') else x)

In [17]:
df.rating.value_counts()

rating
R                                                                                             6123
PG-13                                                                                         4940
NR                                                                                            4848
G                                                                                              648
NC17                                                                                            37
                                                                                                 4
One mf`vhe best unemrdoå`romance mkvies e6er, with %n ending thad wiln`light up any!heArt.       1
Name: count, dtype: int64

In [18]:
import re

In [19]:
def clean_string(s):
    if isinstance(s, str):
        return re.sub(r'[^a-zA-Z0-9]', '', s)
    else:
        return s  # Return NaN or non-string values unchanged

# Apply the function to clean 'Rating' column
df['rating'] = df['rating'].apply(clean_string)

In [20]:
df.rating.value_counts()

rating
R                                                                         6123
PG13                                                                      4940
NR                                                                        4848
G                                                                          648
NC17                                                                        37
                                                                             4
Onemfvhebestunemrdoromancemkviese6erwithnendingthadwilnlightupanyheArt       1
Name: count, dtype: int64

In [21]:
# Method 3: Using list comprehension
missing_values_method3 = {col: df[col].isnull().sum() for col in df.columns}
print(missing_values_method3)

{'movie_title': 0, 'critics_consensus': 8307, 'rating': 3, 'genre': 21, 'directors': 118, 'writers': 1348, 'cast': 289, 'in_theaters_date': 819, 'on_streaming_date': 8, 'runtime_in_minutes': 161, 'studio_name': 422, 'tomatometer_status': 7, 'tomatometer_rating': 7, 'tomatometer_count': 8, 'audience_rating': 261, 'audience_count': 267}

In [22]:
df.runtime_in_minutes.value_counts()

runtime_in_minutes
90           832
100          543
95           539
96           476
93           472
            ...
Suâmarine      1
191            1
8              1
197            1
12             1
Name: count, Length: 206, dtype: int64

In [23]:
def clean_string(s):
    if isinstance(s, str):
        return re.sub(r'[^a-zA-Z0-9]', '', s)
    else:
        return s  # Return NaN or non-string values unchanged

# Apply the function to clean 'Rating' column
df['runtime_in_minutes'] = df['runtime_in_minutes'].apply(clean_string)

In [24]:
df.runtime_in_minutes.value_counts()

runtime_in_minutes
90          832
100         543
95          539
96          476
93          472
           ...
Sumarine      1
191           1
8             1
197           1
12            1
Name: count, Length: 206, dtype: int64

In [25]:
df['runtime_in_minutes'] = df['runtime_in_minutes'].replace('Sumarine', ' ')

In [26]:
df.runtime_in_minutes.value_counts()

runtime_in_minutes
90     832
100    543
95     539
96     476
93     472
      ...
         1
191      1
8        1
197      1
12       1
Name: count, Length: 206, dtype: int64

In [27]:
def clean_runtime(s):
    if isinstance(s, str):
        return re.sub(r'[a-zA-Z]', '', s)
    else:
        return s  # Return NaN or non-string values unchanged

# Apply the function to clean 'runtime_in_minutes' column
df['runtime_in_minutes'] = df['runtime_in_minutes'].apply(clean_runtime)

In [28]:
df.runtime_in_minutes.value_counts()

runtime_in_minutes
90     832
100    543
95     539
96     476
93     472
      ...
271      1
496      1
41       1
         1
12       1
Name: count, Length: 203, dtype: int64

In [29]:
def clean_runtime(s):
    if isinstance(s, str):
        return re.sub(r'[^0-9]', '', s)
    else:
        return s  # Return NaN or non-string values unchanged

# Apply the function to clean 'runtime_in_minutes' column
df['runtime_in_minutes'] = df['runtime_in_minutes'].apply(clean_runtime)

In [30]:
df.runtime_in_minutes.value_counts()

runtime_in_minutes
90     832
100    543
95     539
96     476
93     472
      ...
191      1
271      1
496      1
41       1
12       1
Name: count, Length: 202, dtype: int64

In [31]:
# Method 3: Using list comprehension
missing_values_method3 = {col: df[col].isnull().sum() for col in df.columns}
print(missing_values_method3)

{'movie_title': 0, 'critics_consensus': 8307, 'rating': 3, 'genre': 21, 'directors': 118, 'writers': 1348, 'cast': 289, 'in_theaters_date': 819, 'on_streaming_date': 8, 'runtime_in_minutes': 161, 'studio_name': 422, 'tomatometer_status': 7, 'tomatometer_rating': 7, 'tomatometer_count': 8, 'audience_rating': 261, 'audience_count': 267}

In [32]:
df.studio_name.value_counts()

studio_name
Paramount Pictures                     495
Warner Bros. Pictures                  492
Universal Pictures                     468
20th Century Fox                       414
IFC Films                              394
                                      ...
Go Fish Pictures                         1
Anthology Archives                       1
Adlab Films                              1
Warner Bros. Pictures International      1
Tango Entertainment                      1
Name: count, Length: 2889, dtype: int64

In [33]:
def clean_title(s):
    if isinstance(s, str):
        return re.sub(r'[^a-zA-Z]', '', s)
    else:
        return s  # Return NaN or non-string values unchanged

# Apply the function to clean 'studio_name' column
df['studio_name'] = df['studio_name'].apply(clean_title)

In [34]:
df.studio_name.value_counts()

studio_name
ParamountPictures     495
WarnerBrosPictures    494
UniversalPictures     468
thCenturyFox          417
IFCFilms              394
                     ...
VegaBabyReleasing       1
TandemPictures          1
GoFishPictures          1
AnthologyArchives       1
TangoEntertainment      1
Name: count, Length: 2834, dtype: int64

In [35]:
# Method 3: Using list comprehension
missing_values_method3 = {col: df[col].isnull().sum() for col in df.columns}
print(missing_values_method3)

{'movie_title': 0, 'critics_consensus': 8307, 'rating': 3, 'genre': 21, 'directors': 118, 'writers': 1348, 'cast': 289, 'in_theaters_date': 819, 'on_streaming_date': 8, 'runtime_in_minutes': 161, 'studio_name': 422, 'tomatometer_status': 7, 'tomatometer_rating': 7, 'tomatometer_count': 8, 'audience_rating': 261, 'audience_count': 267}

In [36]:
df.tomatometer_status.value_counts()

tomatometer_status
Rotten             7220
Fresh              6423
Certified Fresh    2947
63                    1
81                    1
Fsesh                 1
209                   1
05                    1
8                     1
61                    1
Name: count, dtype: int64

In [37]:
df['tomatometer_status'] = df['tomatometer_status'].replace('Fsesh', 'Fresh')
df['tomatometer_status'] = df['tomatometer_status'].replace('63', ' ')
df['tomatometer_status'] = df['tomatometer_status'].replace('81', ' ')
df['tomatometer_status'] = df['tomatometer_status'].replace('209', ' ')
df['tomatometer_status'] = df['tomatometer_status'].replace('05', ' ')
df['tomatometer_status'] = df['tomatometer_status'].replace('8', ' ')
df['tomatometer_status'] = df['tomatometer_status'].replace('61', ' ')

In [40]:
df.genre.value_counts()

genre
Drama                                                                           1722
Comedy                                                                          1201
Comedy, Drama                                                                    818
Drama, Mystery & Suspense                                                        680
Art House & International, Drama                                                 568
                                                                                ...
Art House & International, Comedy, Documentary, Special Interest, Television       1
Animation, Art House & International, Mystery & Suspense                           1
Action & Adventure, Comedy, Drama, Science Fiction & Fantasy, Television           1
Action & Adventure, Art House & International, Cult Movies, Drama                  1
Animation, Drama, Romance                                                          1
Name: count, Length: 1085, dtype: int64

In [44]:
df.movie_title.value_counts()

movie_title
                              35
Home                           5
Hamlet                         5
Little Women                   4
Scary Movie                    4
                              ..
Fong juk Exiled                1
Existenz                       1
Exists                         1
Exit Through The Gift Shop     1
Zulu Dawn                      1
Name: count, Length: 15963, dtype: int64

In [43]:
df['movie_title'] = df['movie_title'].apply(clean_string)

In [39]:

def clean_string(s):
    if isinstance(s, str):
        return re.sub(r'[^a-zA-Z,& ]', '', s)
    return s  # Return non-string values unchanged

# Apply the function to clean 'studio_name' column
df['genre'] = df['genre'].apply(clean_string)

In [45]:
df.to_csv("Rotten_Tomatoes_last_version.csv")